/*grid style sheet*/
.row .row { margin:  0 -1.5em; }
.col      { padding: 0  1.5em; }

.row:after {
    content: "";
    clear: both;
    display: table;
}

@media only screen { .col {
    float: left;
    width: 100%;
    box-sizing: border-box;
}}

/*Global Settings*/

html { 
  font-size: 20px; 
  font-family: 'Slabo 27px', serif;
  background-color: #9FAEB3;
  height: 100%;
  width: 100%;
}
body {
    margin-left: 4em;
    margin-right: 4em;
}
header{
  background-color: white;
}
nav {
  background-color: #333;
  text-align: center; 
  padding: 1rem;
  list-style: none;
}

nav a{
  color: white;
  padding-left: 2rem;
  padding-right; 2rem;
  margin-right: 2em;
}
.homeimg1 {
    width:30em;
    height: 20em;
    display: inline-flex;
}
.homeimg2 {
    width:30em;
    height: 20em;
    display: inline-flex;
}
.brand {
    text-align: left;
    padding: 1rem;
    color: black;
}
.logo{
  height: 5em;
  width: 5em;
  float: left;
}
a:hover {
  color:lightcoral;
  transition: all 2s ease 0s;
}
.sidebarimg {
    height: 10em;
}
footer {
    display: block;
    text-align: center;
    padding-left: 1em;
    color: black;
    
}
/*About Page*/

h3{
  text-align: right;
  margin:0;
  margin-right:2rem;
}
.derek{
  width: 20%;
  height: 30%;
  margin-left: 5rem;
}
.amy{
  width: 20%;
  height: 30%;
  margin-left: 7rem;
}

.nathan{
  width: 23%;
  height: 33%;
  margin-left: 8rem;
}

.name{
  display: inline-flex;
}

.name2{
  margin-left:5rem;
}

.name3{
  margin-left:16rem;
}

.name4{
  margin-left:18rem;
}

.word{
  display: inline-flex;
  margin-left: 2rem;
  margin-right:2rem;
}

.word2{
  margin: 1rem;
}

.word3{
  margin: 1rem;
}

.word4{
  margin:1rem;
}

/*
/*p{
  margin-left: 2rem;
  margin-right: 2rem;
}

.container{
  display: inline-flex;
}
nav {
  background-color: darkgrey;
  text-align: center; 
  padding: 1rem;
  list-style: none;
}

nav a{
  color: purple;
  padding-left: 2rem;
  padding-right; 2rem;
}

h6 {
  text-align: center;
  margin:0;
  background-color: PaleTurquoise;
}

/*Home page*/

/*nav {
  background-color: #333;
  height: 4rem;
  margin: 0;
  overflow: hidden;
}

nav ul li {
  display: inline-block;
  color: white;
  margin-right: 2rem;
}

nav ul li a {
  color: white;
  display: block;
  line-height: 2em;
  text-decoration: none;
}

nav ul li a:hover {
  color: #bfebff;
  text-decoration: underline;
}

img {
  padding-top: 20px;
}
section {
  line-height: 0.15rem;
}
footer p {
  font-size: 0.85rem;
}

/*html { 
  font-size: 20px; 
  font-family: 'Slabo 27px', serif;
  background-color: LavenderBlush;
  height: 100%;
  width: 100%;
}

a:hover {
  color:lightcoral;
  transition: all 2s ease 0s;
}

.head{
  display: inline-flex;
}

h1{
  text-align: center;
  margin: 2rem;
}

h2{
  text-align: center;
}*/

